include README.md
include requirements.txt
include olclient2/schemata/author.schema.json
include olclient2/schemata/edition.schema.json
include olclient2/schemata/work.schema.json
include olclient2/schemata/shared_definitions.json
include olclient2/entity_helpers/*
include olclient2/helper_classes/*
